body {
    margin: 0;
    padding: 0;
   background: rgb(242, 227, 255);
}
.calculadora {
    background: rgb(0, 0, 0);
    width: 185px;
    color: rgb(121, 250, 154);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px ;
}
.calculadora input {
    background: rgb(202, 250, 192);
    color: rgb(0, 70, 35);
    border-radius: 20px;
    padding: 5px;
}
.calculadora input:focus{
    background: white;
    color: black;
}
.calcF {
display: none;
}
#calcFin{
    display: none;
}
#calcFin:checked + .calculadora .calcF {
    display: block;
}
#btnCalc {
    background: rgb(172, 144, 224);
    color: rgb(0, 0, 0);
    margin-top: 10px;
    padding: 5px;
}
#btnCalc:hover {
    background: rgb();
}
#psTotal {
    background: rgb(0, 75, 29);
    color: rgb(214, 253, 211);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.spmes {
    width: 100%;
    background: black;
    color: white;
    border-radius: 4px;
    border-style: double;
    border-color: violet;
    
}
